## Gitignore para nuestro proyecto de Sonido.
## Similar al de https://github.com/xBlacKnife/Proyecto-III/blob/master/.gitignore

# Archivos de usuario
*.user
*.log
*.pdb
*.idb
*.ilk
*.obj

## Directorios intermedios, librerías y archivos de configuración
[Oo]bj/
*/[Bb]in/
!*/[Bb]in/alut.dll
!*/[Bb]in/res

## Dependencias
#Cuando las tengamos
#[Dd]ependencias/<nombre>/

## .vs generado de visual
.vs/

## FMOD
*.cache/
*.user/
*.tlog